.main {
    margin-top: 200px;
    margin-left: 220px;
    /* height: 120px;
    width: 300px; */
}



.class1 {
    background-color: blueviolet;
    height: 120px;
    width: 300px;
    position: absolute;
    margin-top: 45px;
    

    

}
.class2 {
    background-color: blue;
    height: 80px;
    width: 200px;
    margin-top: 50px;
    position: relative;
    margin-left: 50px;
    
}
.class3 {
    border: 5px dotted red;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    background-color: yellow;
    position: relative;
    margin-top: 45px;
    margin-left: 20px;
    animation: test 3s;
    animation-iteration-count: infinite;
    float: left;

}

.class4 {
    border: 5px dotted red;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    background-color: yellow;
    position: relative;
    margin-top: 45px;
    margin-left: 200px;
    animation: test 3s;
    animation-iteration-count: infinite;
    
}

@keyframes test {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg)
}

}


